/* YeyeYeee código aquí */
.container{
	background-color: #3F4743;
}

.content{
	display: block;
}

h1 {
  margin-top: 0%;
  font-family: 'Roboto', sans-serif;
  color: #F6A800;
  font-size: 2rem ;
  font-weight: 700;
  text-align: center;
}
#imagen{
  width: 70%;
  margin: 0% 20%;
}
.divDisplayNone{
	display: none;
}
.divDisplayBlock{
	display: block;
}

